.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    text-align: center;
    background-color: #131316;
    width: 720px;
    height: 718px;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}

.numbers {
    padding-top: 120px;
    padding-bottom: 32px;
}

.textInactive {
    padding-bottom: 120px;
}

.button {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #131316;
    border: 0;
    width: 120px;
    height: 120px;
    cursor: pointer;
    background-size: 100%;
}

.close {
    background-color: #131316;
    border: 0;
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
}