.burgerComponent {
    display: flex; 
    flex-direction: column; 
    gap: 16px;
    height: 656px;
}

.ingredients {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 656px;
}

.info {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.text {
    padding-top: 250px;
    text-align: center;
}