.appHeader {
    margin: 40px 40px 0;
    display: flex;
    justify-content: center;
    background-color: #1C1C21;
}

.header {
    width: 1280px;
    min-height: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.linkList {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.link {
    cursor: pointer;
    display: flex;
    text-decoration: none;
}

.active {
    color: white;
}

.firstNavigation {
    justify-self: start;
}

.secondNavigation {
    justify-self: end;
}