.burgerIngredients {
    width: 600px;
    height: 912px;
}

.title {
    margin: 0;
}

.ingredients {
    height: 756px;
    overflow-y: scroll;
}

.ingredientsTitle {
    margin: 0;
}

.ingredientsColumn {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 568px;
}